.fastui-header{
	background-color:#FFFFFF;
	border-bottom:1px solid #EEEEEE;
	/*box-shadow: 0px 0px 9px -4px #4d4d4d;*/
}
.fastui-window-screen .fastui-header{
	background-color:#FFFFFF;
	border-bottom:none;
	box-shadow: 0px 0px 9px -4px #4d4d4d;
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.fastui-pack-up{
	border:none;
	background: #FBFBFB;
	width: 138px;
}
.fastui-header .layui-nav{
	background: #FFFFFF;
}
.fastui-menubar.layui-nav .layui-nav-item a{
	color: #333;
	font-weight: 600;
}
.fastui-menubar.layui-nav .layui-nav-item a:hover, 
.fastui-menubar.layui-nav .layui-this a{
	background: none;
	border-bottom: 3px solid #1E9FFF;
	color: #1E9FFF;
}

.fastui-menubar.layui-nav .layui-nav-item .layui-nav-child a:hover{
	border-bottom: none;
	color: #1E9FFF;
}
.fastui-menubar.layui-nav .layui-nav-item .layui-nav-child a{
	border-bottom: none;
	color: #333333;
}
.fastui-header .layui-this{
	background: none;
	color: #1E9FFF;
}
.fastui-header .layui-nav .layui-nav-item{
	line-height:51px;
}
.fastui-product>a{
	color: #333 !important;
}
.fastui-usercenter.layui-nav .layui-nav-more{
	border-top-color:rgb(153,153,153);
	border-color: #999 transparent transparent;
}
.fastui-usercenter.layui-nav .layui-nav-mored{
	border-color: transparent transparent #999999;
}
.fastui-logo span{
	color: #666;
}
.fastui-maincontent.layui-tab-brief>.layui-tab-title .layui-this{
	color: #1E9FFF;
	background: #e8f9ff;
}
.fastui-pack-up h3 i{
	color: #1E9FFF;
}
.fastui-maincontent{
	border-left: none;
	
}
.fastui-silder.layui-nav{
	background: #FBFBFB;
}
.fastui-menu-wrapper li.fastui-this>a{
	color: #1E9FFF;
	font-weight: 600;
}
.fastui-menu-wrapper li a{
	color: #333;
}
.fastui-menu-wrapper .fastui-two-menu li a:hover{
	color: #1E9FFF;
}
.fastui-logo{
	display: none;
}
.fastui-logo.fastui-logo-white{
	display: block;
}
.fastui-silder.layui-nav-tree .layui-nav-child dd.layui-this a{
	color: #1E9FFF;
}
.layui-form-radio>i:hover, .layui-form-radioed>i{
	color: #1E9FFF;
}
.layui-form-checked[lay-skin=primary] i{
	background: #1E9FFF;
}
.fastui-silder.layui-nav-tree .layui-nav-child dd.layui-this a{
	border-left: 2px solid #1E9FFF;
}
.layui-input:hover, .layui-textarea:hover{
	box-shadow:0px 0px 10px -5px #1E9FFF;
	border: 1px solid #1E9FFF !important;
}
.layui-nav .fastui-product .layui-nav-child a:hover{
	background: #1E9FFF;
}
.layui-form-select dl dd.layui-this{
	background-color: #1E9FFF;
}

.layui-nav .fastui-product .layui-nav-child dd.layui-this a, .fastui-product .layui-nav-child dd.layui-this{
	background: #1E9FFF;
}
.fastui-tab-title li.fastui-tab-click a, .fastui-tabtitle-rank li.fastui-tab-click a{
	color: #1E9FFF;
	border-bottom: 2px solid #1E9FFF;
}
.fastui-tab-title li a:hover, .fastui-tabtitle-rank li a:hover{
	color: #1E9FFF;
	border-bottom: 2px solid #1E9FFF;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em{
	background-color: #1E9FFF;
}
.fastui-table-contorl span{
	color: #f4f4f4;
}
.layui-table thead tr, 
.layui-table-mend, 
.layui-table-patch, 
.layui-table-total, 
.layui-table-total tr, 
.layui-table[lay-even] tr:nth-child(even), 
.layui-table-header .layui-table{
	background-color: #F2F2F2;
}
.layui-table tbody tr:hover, .layui-table-hover{
	background-color: #fafafa;
}
.fastui-complextr-table .layui-table thead tr:first-of-type{
	background: #D1D1D1;
}
.fastui-complextr-table .layui-table thead tr:first-of-type th{
	background: #D1D1D1;
}
.fastui-card-header.layui-card-header{
	font-weight: normal;
}
.fastui-card-header{
	border-left: 3px solid #1E9FFF;
}
.layui-card .layui-tab-brief .layui-tab-title li.layui-this{
	color: #1E9FFF;
}
.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after{
	border-bottom: 2px solid #1E9FFF;
}
.layui-form-onswitch{
	border-color: #1E9FFF;
	background-color: #1E9FFF;
}
.fastui-btn-border-blue.layui-btn-primary{
	color: #1E9FFF;
	border: 1px solid #1E9FFF;
}


.fastui-side-con h2{
	background: #1E9FFF;
}
.fastui-field-color legend{
	color: #1E9FFF;
}
.fastui-seacher-ullist li a.fastui-this{
	color: #1E9FFF;
	border-bottom: 2px solid #1E9FFF;
}

.layui-btn-group .layui-btn-primary:hover{
	color: #1E9FFF;
}




.fastui-leftside-onemenu{
	background: #4D4D4D;
	height: 100%;
	position: fixed;
	top: 54px;
	left: 0;
	width: 68px;
	z-index: 1;
	text-align: center;
}
.fastui-leftside-onemenu h2{
	color: #999;
	padding: 15px 0;
	font-size: 16px;
}
.fastui-one-menu a{
	color: #FFFFFF;
	display: block;
	padding: 15px 0;
}
.fastui-one-menu a:hover{
	background: #FBFBFB;
	color: #1E9FFF;
}
.fastui-one-menu a.fastui-this{
	background: #FBFBFB;
	color: #1E9FFF;
}
.fastui-one-menu a i{
	display: block;
	font-size: 20px;
	margin-bottom: 8px;
}
.fastui-one-menu a span{
	font-size: 14px;
}
.fastui-sidebar-all{
	position: relative;
    top: 54px;
    left: 68px;
}
.fastui-maincontent{
	left: 226px;
}
.fastui-silder.layui-nav-tree{
	width: 210px;
}
.fastui-silder.layui-nav .layui-nav-item>a>cite{
	font-size: 14px;
}
.layui-nav *{
	font-size: 14px;
}
.fastui-maincontent .layui-tab-title{
	margin-top: 5px;
}
.fastui-maincontent>.layui-tab-content>.layui-tab-item{
	top: 46px;
}
.fastui-pack-up span{
	color: #999;
	display: inline-block;
	text-align: center;
	width: 80%;
	font-size: 16px;
}
.fastui-silder.layui-nav i{
	margin-right: 10px;
}
.fastui-btn-down li:hover{
	background: #1E9FFF;
}
select[xm-select][xm-select-type='2'] + div dl dd.xm-select-this:not(.layui-disabled) i{
	background-color: #1E9FFF;
}

/*.layui-form-checked span, .layui-form-checked:hover span{
	background-color: #1E9FFF;
}*/
.layui-form-checked i, .layui-form-checked:hover i{
	color: #1E9FFF;
}
.fastui-transfer-style .layui-btn{
	background-color: #1E9FFF;
}
.fastui-transfer-style .layui-btn-disabled{
	background-color: #FBFBFB;
}
.layui-btn-primary:hover{
	border-color:#1E9FFF;
	color: #1E9FFF;
}
.fastui-form-separate{
	border-left: 2px solid #1e9fff;
}
