<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>layuiAdmin 控制台主页一</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../static/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../static/style/admin.css" media="all">
		<link rel="stylesheet" href="../../static/style/fastui.css" media="all">
	</head>

	<body>

		<div class="layui-fluid">
			<div class="layui-row">
				<div class="layui-card">
					<div class="layui-card-body">
						<div class="fastui-erro-html">
							<img class="fastui-not-found" src="../../static/image/500.png" />
							<p>好晕呀！错误了，联系管理员哦!原因：数据的message</p>
							<a>正在发送管理员...</a>
							<a style="display: none;">已发送管理员</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../static/layui/layui.js?t=1"></script>
		<script>
			layui.config({
				base: '../../static/' //静态资源所在路径
			}).extend({
				index: 'lib/index' //主入口模块
			}).use(['jquery','index'],function($){
				
			});
		</script>
	</body>

</html>